:root{
    --cor-principal: #FE4040;
    --btn-color: #FFD15C;
    --btn-hover: #FFC42F;
    --btn-add: #096C17;
    --txt-color: #FFFFFF;
    --txt-info: #656565;
    --shadow: #BFBFBF;

    --btn-rds: 50px;
    --btn-h: 50px;
    --btn-w: 310px;

    --input-h: 40px;
    --input-w: 215px;
    --input-rds: 5px;

    --btn-f-s: 1.25rem;

    --calc-w: 390px;
    --calc-h: 100%;

    --mt: 20px;

    --card-w: 185px;
    --card-h: 265px;
    --card-br: 10px;

    --btn-position: 30px;

    --img-card: 125px;

    --mg-card: 15px;
}

html, body{
    height: 100%;
    font-family: 'Montserrat', Helvetica, sans-serif
}
  
body{
    margin: 0;
    font: 20px;
}

.title{    
    font-family: 'Baby Blue';
    font-size: 2.5rem;
    color: var(--cor-principal);
    text-align: right;
}

.subtitle{
    text-align: center;
    text-transform: lowercase;
    font-weight: 100;
    color: var(--txt-info);
}

.header{
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - var(--calc-w) - 40px);
}

.header div{
    display: inline-block;
    transform: translateX(50%);
    margin-bottom: 100px;
}

.title-calculadora{
    font-family: 'Nashville';
    color: var(--txt-color);
    font-size: 3rem;
}

.calculadora{
    text-align: center;
    background-color: var(--cor-principal);
    padding: 10px 20px;
    border-radius: 40px 0 0 40px;
    width: var(--calc-w);
    height: var(--calc-h);
    float: right;
}

.calculadora div{
    margin-top: 60px;
    position: relative;
}

p{
    margin: 0;
}

.add, .remove{
    position: absolute;
}

.add{
    left: 30px;
}

.remove{
    right: 10px;
    visibility: hidden;
}

.txt{
    color: var(--txt-color);
}

.input{
    width: var(--input-w);
    height: var(--input-h);
    border-radius: var(--input-rds);
    border: none;
    margin: 0 10px;
    text-align: center;
    color: var(--cor-principal);
    font-size: 1.5rem;
    position: absolute;
    transform: translate(-50%, 5%);
}

.btn{
    margin-top: 80px;
    padding: 10px;
    border: none;
    width: var(--btn-w);
    height: var(--btn-h);
    border-radius: var(--btn-rds);
    font-size: 1.25rem;
    background: var(--btn-color);
    color: var(--txt-color);
}

.btn:hover{
    background: var(--btn-hover);
}

.card{
    border: 1px solid var(--cor-principal);
    width: var(--card-w);
    height: var(--card-h);
    border-radius: var(--card-br);
    margin: 10px;
    transform: translateX(50%);
    display: inline-block;
    text-align: center;
}

.card:hover{
    box-shadow: 2px 2px 7px var(--cor-principal);
}

.img-card{
    width: var(--img-card);
    height: var(--img-card);
    box-shadow: 2px 2px 10px #000000;
    padding: 10px;
    box-sizing: border-box;
    border-radius: var(--img-card);
    margin-top: 15px;
}

.title-card{
    text-transform: uppercase;
    color: var(--cor-principal);
    font-size: 20px;
    margin-top: var(--mg-card);
}

.qntd-card{
    font-weight: bold;
    color: var(--cor-principal);
    font-size: 25px;
}

hr{
    border: none;
    border-bottom: 1px solid var(--cor-principal);
    margin: var(--mg-card);
}

@media (max-width: 600px){
    .header{
        display: block;
        width: auto;
    }

    .header div{
        /* background: #000; */
        display: block;
        padding: 0;
        margin: 0;
        transform: none;
    }

    .title{
        text-align: center;
    }

    .calculadora{
        border-radius: 0 0 var(--btn-rds) var(--btn-rds);
        height: 450px;
        width: auto;
        float: none;
        display: block;
    }

    .input{
        width: 50%;
    }

    .btn{
        width: 90%;
    }

    .title-calculadora{
        margin: 10px 0;
    }

    .cards{
        padding-bottom: 10px;
        text-align: center;
    }

    .card{
        display: block;
        width: auto;
        height: 200px;
        transform: none;
        position: relative;
    }

    .img-card{
        position: absolute;
        top: 20%;
        left: 8%;
        margin: 0;
        transform: none;
        display: inline-block;
    }

    hr{
        margin-left: -20px;
        margin-right: -20px;
    }

    .txt-card{
        position: absolute;
        top: 25%;
        width: 50%;
        display: inline-block;
    }
}